<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>css transition</title>
    <style>  
    .box{    
        border: 2px solid  black;
        height: 140px;
        width: 140px;
        background-color:blueviolet ;
      /*  transition-property:background-color;
      transition-delay: 4s;*/
      transition-duration:3s ;
      display: flex;
    justify-content: center;
    align-items: center;
    }
    .box:hover{  
    background-color:brown;
    height: 240px;
    width: 240px;
    border-radius: 40px;
   }
    
    </style>
</head>
<body>
    <div id=" contaner">  
<div class="box"> box</div>


    </div>
</body>
</html>
