<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> #{content} </title>
    style
        include ../static/style.css

</head>

<body>
    <nav class="navbar">
        <ul>
            <img src="https://webstockreview.net/images/dumbbell-clipart-body-building-19.png" alt="">
            <li><a href="/"> home </a> </li>
            <li><a href="/">insert </a> </li>
            <li><a href="/">contract </a> </li>
            <li> <a href="/"> help</a></li>
            <div class="para">
                <h2> welcome to fitness world </h2>
                <h3> Get fit & Healthy. </h3>
                <p>There are numerous benefits of physical fitness which include better health, greater strength,
                    increased flexibility, increased energy, improved appetite, positive attitude, and a good mood.
                </p>
            </div>
            <button class="sub">Get a membership</button>

            <div class="ani">
                <div class="mation"> </div>
                <div class="mation"></div>
                <div class="mation"></div>

            </div>

            <div class="icons-wrapper">
                <i class="ri-instagram-line icon"> </i>
                <i class="ri-facebook-circle-line icon"></i>
                <i class="ri-whatsapp-line icon"></i>
            </div>

        </ul>

        <h1> gym membership only 140$</h1>


        </div>
        <div class="contaner">
            <form action="/" method="post" id="inform">
                <input type="text" name="name" id="name" placeholder="enter your name">
                <input type="text" name="contract" id="contract" placeholder="enter your contract detail">
                <input type="text" name="location" id="location" placeholder="enter your location">
                <input type="text" name="age" id="name" placeholder="enter your age">
                <textarea name="address" id="address" cols="20" rows="5" placeholder="enter your address"></textarea>
                <textarea name="more" id="more" cols="20" rows="5" placeholder="enter your more detail"> </textarea>
                <button class="bt">Submit </button>

            </form>

        </div>
    </nav>
</body>

</html>